@import 'colors.scss';

.header{
    position: fixed;
    top: 0;
    min-height: 54px ;
    max-height: 108px ;
    padding: 20px 15px 0 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    z-index: 100;
    transition: 0.6s ease-in-out;
}
.header__menu{
    width: 60vw;
    display: flex;
    justify-content: flex-end;
}
.header__menu > a{
    letter-spacing: 0.5px;
    font-weight: 400;
    height: 38px;
    padding: 0px 16px;
    margin: 0 10px;
    text-decoration: none;
    color:  $text-color;
    display: inline-flex;
    align-items: center;
    transition: 0.25s ease-in-out;
}
.header__menu > a:hover{
    scale: 1.05;
    color: $second-color;
}
.header__menu--button{
    letter-spacing: 0.5px;
    font-weight: 500;
    height: 38px;
    padding: 0px 16px;
    margin: 0 10px;
    border-radius: 20px;
    text-decoration: none;
    border:1px solid $text-color ;
    color:  $text-color;
    background-color:  rgba($color: #000000, $alpha: 0.0);
    display: inline-flex;
    align-items: center;
    transition: 0.25s ease-in-out;
}
.visibility{
    background-color: $text-color;
    padding-top: 0;
    transition: 0.6s ease-in-out;
    .header__menu>*{
        color:black;
    }
    &>.logo{
        color: black;
    }
    .header__menu--button{
        border:1px solid black ;
        color: black;
    }
}
.logo{
    text-decoration: none;
    color: $text-color;
    font-weight: 600;
    font-size: 12px;
}