@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=block");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  min-height: 54px;
  max-height: 108px;
  padding: 20px 15px 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  z-index: 100;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.header__menu {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu > a {
  letter-spacing: 0.5px;
  font-weight: 400;
  height: 38px;
  padding: 0px 16px;
  margin: 0 10px;
  text-decoration: none;
  color: #fdf6f6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header__menu > a:hover {
  scale: 1.05;
  color: #00a79d;
}

.header__menu--button {
  letter-spacing: 0.5px;
  font-weight: 500;
  height: 38px;
  padding: 0px 16px;
  margin: 0 10px;
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid #fdf6f6;
  color: #fdf6f6;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.visibility {
  background-color: #fdf6f6;
  padding-top: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.visibility .header__menu > * {
  color: black;
}

.visibility > .logo {
  color: black;
}

.visibility .header__menu--button {
  border: 1px solid black;
  color: black;
}

.logo {
  text-decoration: none;
  color: #fdf6f6;
  font-weight: 600;
  font-size: 12px;
}

body {
  background-color: #2e2b2b;
  color: #fdf6f6;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

.section {
  height: 100vh;
  width: 100%;
}

.hero {
  background-color: black;
}

@media screen and (max-width: 1024px) {
  .hero {
    background-image: url("/Images/hero.jpg");
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 30px 30px black inset;
            box-shadow: 0 0 30px 30px black inset;
  }
}

.hero > .hero__content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .hero > .hero__content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 100px;
  }
}

.hero .hero__content--textwrapper {
  padding: 0 15px;
  z-index: 2;
}

.hero .hero__content--textwrapper .hero__content--text {
  font-size: 3em;
}

.hero .hero__content--textwrapper .hero__content--title {
  font-size: 4em;
}

.hero .hero__content--image {
  height: 100%;
  width: 50%;
  z-index: 1;
  background-image: url("/Images/hero.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 30px 30px black inset;
          box-shadow: 0 0 30px 30px black inset;
}

@media screen and (max-width: 1024px) {
  .hero .hero__content--image {
    display: none;
  }
}

.footer {
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */