@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=block');

@import "start.scss";
@import "header.scss";
@import 'colors.scss';

body{
    background-color: $primary-color;
    color: $text-color;
    font-family: 'Montserrat', sans-serif;
}
main{
    height: 100%;
    width: 100%;
}
.section{
    height: 90vh;
    width: 100%;
}
.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}