@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "start.scss";
@import "header.scss";

$primary-color:#2e2b2b;
$text-color:#fdf6f6;
$second-color: #00a79d;

body{
    background-color: $primary-color;
    color: $text-color;
    font-family: 'Montserrat', sans-serif;
}